<body>
  <div class="container">
    <header>
      <div class="header-left">
        <img src="../assets/pic.png" alt="" class="profile-pic">
      </div>
      <div class="header-center">
        <span>Rishi Kumar Soni</span>
      </div>
      <div class="header-right">
        <a href="https://www.linkedin.com/in/rishi-soni-837381182" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/rishisoni90" target="_blank" class="social-link">
          <i class="fab fa-github"></i> GitHub
        </a>
      </div>
    </header>

    <main>
      <section class="about-me">
        <h2>About Me</h2>
        <p>
          Hello, I'm Rishi Soni, a dedicated Senior Associate Engineer at Ford Motors with a strong passion for technology and innovation. My work revolves around leveraging cutting-edge tools and methodologies to drive efficiency and excellence in every project I undertake.

          Currently, I am deeply immersed in expanding my expertise in AWS and Cloud technologies, aiming to harness their potential for groundbreaking solutions and advancements.
          
          I thrive in collaborative environments and am always eager to join forces on exciting projects that challenge the status quo and push boundaries. If you're working on something groundbreaking, let's connect and explore how we can make a difference together.
          
           
          Thank you for visiting, and I look forward to the possibility of collaborating with you to create something truly remarkable.  </p>
        <h3>Languages and Tools</h3>
        <p>
        Proficiency in one or more programming languages such as Java, JSF, or JavaScript. 
Knowledge of software development tools such as IDEs, version control systems (e.g., Git), and build tools (e.g., Maven 
or Gradle). 
Familiarity with front-end technologies such as HTML, CSS, and JavaScript frameworks (e.g., React, Angular). 
Knowledge of database technologies such as SQL or NoSQL databases.   Understanding with AWS, Cloud platform. 
 Experience with software testing, debugging, and troubleshooting. 
 Good communication and collaboration skills, including the ability to work in a team environment
        </p>
      </section>

      <section class="work-experience">
        <h2>Work Experience</h2>
        <div class="experience-item">
          <h3>Software Engineer</h3>
          <p>Ford Motors (Cognizant) USA – Aug 2021 – March 2024</p>
          <ul>
            <li>Developed software solutions for various projects, ensuring alignment with business needs.</li>
            <li>Designed, wrote, tested, and deployed code for software solutions.</li>
            <li>Prepared technical and procedural documentation for software.</li>
            <li>Maintained and debugged software to ensure optimal performance.</li>
            <li>Collaborated with cross-functional teams to ensure customer satisfaction.</li>
            <li>Demonstrated ability to assess and manage risks associated with software development activities.</li>
          </ul>
        </div>
      </section>

      <section class="projects">
        <h2>Projects</h2>

        <div class="project-item">
          <h3>Basic PortFolio Project</h3>
          <p>Angular - Aug 2019 – Dec 2019</p>
          <ul>
            <li>Logical and Event-driven architectures incluing navingating to different url's.</li>
            <li>Development and Deployment of the Responsive Website.</li>
          </ul>
          <a href="https://github.com/rishisoni90/MyPortFolio.git" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/MyPortFolio.git</a><br>
&nbsp;<br>
<a href="https://my-portfolio-tau-nine-19.vercel.app/">Working Demo: https://my-portfolio-tau-nine-19.vercel.app/</a>
 </div>

        <div class="project-item">
          <h3>Android Application</h3>
          <p>J2SE, Android Studio, Firebase NOSQL Database - Jan 2020 – May 2020</p>
          <ul>
            <li>Android Application Functionality assisted a user to create a profile in the android application, in which they can Interact with another domain driven microservices.</li>
            <li>90% of functionality of android were instilled.</li>
          </ul>
          <a href="https://github.com/rishisoni90/Android-Project" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/Android-Project</a>
        </div>
        <div class="project-item">
          <h3>Software Testing</h3>
          <p>Java, Junit, Pit, Eclipse - Aug 2019 – Dec 2019</p>
          <ul>
            <li>Performed basis path test for java Code.</li>
            <li>Developed Test Cases using multiple condition decision coverage (MCDC).</li>
          </ul>
          <a href="https://github.com/rishisoni90/Software-Testing" target="_blank" class="source-code">Source Code: https://github.com/rishisoni90/Software-Testing</a>
        </div>
      
      </section>
    </main>
  </div>
</body>
